@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 7.5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #141c20;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #0F4C75;
    border-radius: 6px; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #3282B8; 
  }

  html{
    overflow-y: scroll;
  }